<body>
<section>
    <form [formGroup]="loginform">
        <h1>Login</h1>
        <div class="inputbox">
            <input type="email" placeholder=" " formControlName="username" required>
            <label for="">Username </label>
        </div>
        <div class="inputbox">
            <input type="password" placeholder=" " formControlName="password" required>
            <label for="">Password</label>
        </div>
        <div class="forget">
            <label for=""><input type="checkbox">Remember</label>
            <a href="#">Forget Password</a>
        </div>
        <button (click)="proceedlogin()">Log in</button>
        <div class="register">
            <p>Don't have a account <a href="#">Register</a></p>
        </div>
    </form>
</section>
</body>
